﻿html[mode="night"] { -webkit-filter: contrast(70%) brightness(115%) invert(); }
html[mode="night"] img, html[mode="night"] i, html[mode="night"] video { -webkit-filter: invert(); }
html[mode="night"] i span { -webkit-filter: invert(); }
html[mode="night"] object[type="application/x-shockwave-flash"], html[mode="night"] object[type="application/x-shockwave-flash"] { -webkit-filter: invert(); }
html[mode="night"] embed[type="application/x-shockwave-flash"], html[mode="night"] embed[type="application/x-shockwave-flash"] { -webkit-filter: invert(); }
